@using Models
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Полета", "Index", "Home")</li>
            <li>@Html.ActionLink("Магазин", "Index", "Store")</li>
            <li>@Html.ActionLink("Класиране", "Rating", "Home")</li>
            <li>@Html.ActionLink("Правила", "Rules", "Home")</li>
            if (Session["boardName"] != null)
            {
                <li><a href="/board/@ViewBag.boardName">@ViewBag.boardName</a></li>
            }
        }
        else
        {
            <li>@Html.ActionLink("Начало", "Index", "Home")</li>
            <li>@Html.ActionLink("Правила", "Rules", "Home")</li>
        }
    </ul>
        @Html.Partial("_LoginPartial")
 </div>

