﻿@model WorldOfWords.Web.ViewsModels.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="row">
    @if (Model != null)
    {
        if (User.Identity.IsAuthenticated)
        {
            <div>
                <h1>@(User.Identity.Name)'s Word World</h1>
            </div>
            <aside class="col-md-3">
                <strong>Твоят профил:</strong>
                <ul>
                    <li>@(Model.Balance) голдъни</li>
                    <li>@(Model.EarnedPoints) точки</li>
                </ul>
            </aside>
            <div class="col-md-9">
                @if (Model.BoardsUsers != null && Model.BoardsUsers.Count > 0)
                {
                    <h5>Активни дъски</h5>
                    <table>
                        @foreach (var board in Model.BoardsUsers)
                        {
                            <tr>
                                <td colspan="3">
                                    <a href="">@board.Board.Name</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Размер: @board.Board.Size x @board.Board.Size
                                </td>
                                <td>
                                    <strong>Отворена до </strong> @board.Board.ExpirationDate.ToString("dd HH yy HH:MM")
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <strong>Нямате активни дъски</strong>
                }
            </div>
        }
        else
        {
            <h2>Welcome, Stranger!</h2>
            <div>
                <h3>Все още нямаш профил</h3>
                Регистрирай се и ще имаш възможност да се съревноваваш веднага <strong>безплатно</strong>.
            </div>
        }
    }
</div>
<div class="row">
    @if (Model != null && Model.AllBoards.Count > 0)
    {
        <h3>Игрални Дъски</h3>
        <div>
            @foreach (var board in Model.AllBoards)
            {
                <ul>
                    <li>
                        <a href=""><strong>@board.Name</strong></a>
                    </li>

                    <li>
                        Размер: @board.Size x @board.Size
                    </li>
                    <li>
                        <strong>Отворена до </strong>
                        @board.ExpirationDate.ToString("HH:MM dd/MM/yy")г.
                    </li>
                </ul>
            }
        </div>
    }
    else
    {
        <strong>Все още няма игрални дъски.</strong>
    }
</div>