@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using WorldOfWords.Web.Common
@model WorldOfWords.Web.ViewsModels.ShowBoardModel

@{
    ViewBag.Title = "Boards";
}

<div class="row margin-top">
    <div class="col-md-4">Поле: <span id="boarName">@Model.Board.Name.Text</span></div>
    <div class="col-md-2 col-md-offset-6">Точки: @Model.EarnedUserPoints</div>
</div>
<div class="row">
    <div class="col-md-4">До краят остават:  <span id="timer"></span></div>
    <div class="col-md-2 col-md-offset-6">Точки от полето: <span id="points">@Model.UserPointsFromBoard</span></div>
</div>
<div class="row">
    <div class="col-md-2">Запълнено: <span id="filling-percent">@Assessor.GetPercentOfFilling(Model.Board.Content)%</span></div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="board">
            @for (int row = 0; row < Model.Board.Size; row++)
            {
                <div>
                    @for (int col = 0; col < Model.Board.Size; col++)
                    {
                        <span data-position="@(row * Model.Board.Size + col)">
                            @if (Model.Board.Content[row * Model.Board.Size + col] == ' ')
                            {
                                @:&nbsp;
                    }
                            else
                            {
                                @Model.Board.Content[row * Model.Board.Size + col]
                            }
                        </span>
                    }
                </div>
            }
        </div>
        <hr />
        <div id="message">&nbsp;</div>
        <hr />
    </div>
    <div class="col-md-6">
        <div class="row" id="radio-buttons">
            <div class="col-md-4"><input id="by-length" name="shearch" type="radio" value="1" checked /> <label for="by-length">Брой букви</label></div>
            <div class="col-md-4"><input id="to-begin" name="shearch" type="radio" value="2" /> <label for="to-begin">Да започва</label></div>
            <div class="col-md-4"><input id="to-contain" name="shearch" type="radio" value="3" /> <label for="to-contain">Да съдържа</label></div>
        </div>
        <div class="row">
            <div class="col-md-12"><input id="letters" type="text" /></div>
        </div>
        <hr />
        <div class="row words-container">
            @for (int wordIndex = 0; wordIndex < Model.UserWords.Count; wordIndex++)
            {
                var word = Model.UserWords[wordIndex];

                <div>
                    <div>Точки: @Model.WordsPoints[wordIndex]</div>
                    <div draggable="true" class="word">
                        @for (var i = 0; i < word.Length; i++)
                        {
                            <span data-position="@i">@word[i]</span>
                        }
                    </div>

                </div>
            }
        </div>
    </div>
</div>

@section initialize {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/words.js"></script>
    <script>
        app.board.setSize(@Model.Board.Size);
        @{
            var durationInSeconds = (int) ((Model.Board.ExpirationDate - DateTime.Now).TotalSeconds);
         }
        app.timer.setTimer('#timer', @(durationInSeconds >= 0 ? durationInSeconds : 0 ));
    </script>
}
