@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model WorldOfWords.Web.ViewsModels.ShowBoardModel

@{
    ViewBag.Title = "Boards";
}

    <div class="board">
        @for (int row = 0; row < Model.Board.Size; row++)
        {
            <div>
                @for (int col = 0; col < Model.Board.Size; col++)
                {
                    <span data-position="@(row * Model.Board.Size + col)">&nbsp;</span>
                }
            </div>
        }
    </div>
    
    
    @section header {
    <div class="row">
        <div class="col-md-4">Поле: @Model.Board.Name</div>
        <div class="col-md-2 col-md-offset-6">Голдъни:</div>
    </div>
    <div class="row">
        <div class="col-md-4">Активно до:</div>
        <div class="col-md-2 col-md-offset-6">Точки:</div>
    </div>
        <hr /> 
    }

@section words {
    @for (int wordIndex = 0; wordIndex < Model.UserWords.Count; wordIndex++)
    {
        var word = Model.UserWords[wordIndex];
        
        <div>
            <div>Точки: @*@Model.WordsPoints[wordIndex]*@</div>
            <div draggable="true" class="word">
                @for (var i = 0; i < word.Length; i++)
                {
                    <span data-position="@i">@word[i]</span>
                }
            </div>
            
        </div>
    }
}

    @section loadBoard {
        <script src="~/scripts/words.js"></script>
        <script>
            app.board.setSize(@Model.Board.Size);
            app.board.loadBoard('@Html.Raw(Model.Board.Content)');
        </script>
    }


