@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model Models.ViewsModels.ShowBoardModel

@{
    ViewBag.Title = "Boards";
}

<h2>Board - @Model.Board.Name</h2>

<div class="board">
    @for (int row = 0; row < Model.Board.Size; row++)
    {
        <div>
            @for (int col = 0; col < Model.Board.Size; col++)
            {
                <span data-position="@(row * Model.Board.Size + col)">&nbsp;</span>
            }
        </div>
    }
</div>

@section words {
    @foreach (var word in Model.UserWords)
    {
        <div>
            <div draggable="true" class="word">
                @for (var i = 0; i < word.Length; i++)
                {
                    <span data-position="@i">@word[i]</span>
                }
            </div>
        </div>
    }
}

@section loadBoard {
    <script src="~/scripts/words.js"></script>
    <script>
        app.board.setSize(@Model.Board.Size);
        app.board.loadBoard('@Html.Raw(Model.Board.Content)');
    </script>
}


