@model PagedList.IPagedList<Models.Word>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Store", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"/>
    </p>
}
<div id="test"></div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Word", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Date Added", "Index", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>@Ajax.ActionLink("Buy", "BuyWord", new AjaxOptions()
            {
                UpdateTargetId = "test",
                HttpMethod = "GET",
                OnSuccess = "successfulBuy",
                OnFailure = "failedBuy",
            })</th>
    </tr>

    @foreach (var word in Model)
    {
        <tr>
            <td>
                @word.Content
            </td>
            <td>
                @word.DateAdded
            </td>
            <td>
                Buy
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    function successfulBuy() {
        alert("You successfuly bought this word");
    }

    function failedBuy(error) {
        alert(error);
    }
</script>