@model PagedList.IPagedList<WorldOfWords.Web.ViewsModels.WordWithCount>
@using PagedList.Mvc;

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink("Word", "Store", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "words-section"
                })
        </th>
        <th>
            @Ajax.ActionLink("Date Added", "Store", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "words-section"
                })
        </th>
        <th>Quantity</th>
        <th>You Have</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>

    @foreach (var word in Model)
    {
        <tr class="store-word">
            <td class="word-content">
                @word.Content
            </td>
            <td>
                @word.DateAdded
            </td>
            <td>
                <div id="word-@word.Id-quantity">@word.Quantity</div>
            </td>
            <td>
                <div id="word-@word.Id-user-quantity">@(word.QuantityUser ?? 0)</div>
            </td>
            <td>
                @(ViewBag.Assessor.GetPointsByWord(word.Content))
            </td>
            <td>
                <label>
                    <input type="number" name="shoplist" id="shoplist-@word.Id" class="shoplist" min="0" max="@word.Quantity" />Buy
                </label>
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Store",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "words-section"
        }))

    <script>
        $(".shoplist").on('change', function () {
            var $this = $(this);
            var id = $this.attr('id').substr($this.attr("id").lastIndexOf("-") + 1);
            var word = $this.closest(".store-word").children(".word-content").text().trim();

            if ($this.val() < 0) {
                return;
            }

            var shopItem = {
                WordId: parseInt(id),
                Quantity: parseInt($this.val()),
                Word: word
            }
            if (shopItem.Quantity === 0) {
                deleteShopItemFromList(shopItem.WordId, shopList);
            } else {
                addShopItemToList(shopItem, shopList);
            }

            loadShopCartView(shopList).success(function (data) {
                $("#shop-cart").html(data);
            });

        });

    </script>